body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}
canvas {
  display: block;
  max-width: 100%;
  max-height: 70vh;
}

.blabla {
  position: absolute;
  color: black;
  font-size: 24px;

  left: 45%;
  top: 0%;
  width: min-content;
  height: min-content;
}
